.faq-section {
  padding: 90px 20px;
  background: #f8fbff;
  text-align: center;
  opacity: 0;
  transform: translateY(60px);
  transition: 1s ease;
}

.faq-section.show {
  opacity: 1;
  transform: translateY(0);
}

.faq-sub {
  color: #2563eb;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 30px;
}

.faq-title {
  font-size: 42px;
  margin: 10px 0 40px;
}

.faq-title span {
  background: linear-gradient(90deg, #38bdf8, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* GRID LAYOUT */
.faq-box {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  align-items: start; /* ✅ prevents equal-height stretching */
}


/* CARD */
.faq-card {
  background: white;
  padding: 22px 26px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.06);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #bae6fd;
}

.faq-card:hover {
  box-shadow: 0 18px 50px rgba(56, 191, 248, 0.607);
  transform: translateY(-4px);
}

/* HEAD */
.faq-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-head h4 {
  margin: 0;
  text-align: left;
}

.faq-head span {
  font-size: 24px;
  color: #38bdf8;
}

/* BODY */
.faq-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  text-align: left;
}

.faq-body p {
  margin-top: 12px;
  color: #475569;
  line-height: 1.6;
}

/* OPEN */
.faq-card.open .faq-body {
  max-height: 200px;
}

/* MOBILE */
@media (max-width: 800px) {
  .faq-box {
    grid-template-columns: 1fr;
  }

  .faq-title {
    font-size: 32px;
  }
}
